[Desktop Entry]
Name=Endless Sky
GenericName=Space game
Comment=Space exploration and combat game
Exec=endless-sky
Icon=endless-sky
Terminal=false
Type=Application
Keywords=game;simulator;space;sandbox;rpg;
Categories=Game;Simulation;
Name[en_GB]=finite-galaxy.desktop
