[Desktop Entry]
Name=Finite Galaxy
GenericName=Space game
Comment=Free and open source space exploration and combat game
Exec=finite-galaxy
Icon=finite-galaxy
Terminal=false
Type=Application
Keywords=game;foss;simulator;space;sandbox;rpg;
Categories=Game;Simulation;
Name[en_GB]=finite-galaxy.desktop
